.env
__pycache__/
.venv/
/venv


terraform/app/.terraform.lock.hcl
terraform/app/.terraform/
terraform/app/terraform.tfstate
terraform/prerequisiteInfrastructure/.terraform.lock.hcl
terraform/prerequisiteInfrastructure/.terraform/
terraform/prerequisiteInfrastructure/terraform.tfstate

.DS_Store

*zzLocalDevelopment*
